@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

// colors
$BrandOrange: #FFC34A;
$BrandGrey: #333333;
$BrandWhite: #FFF9EF;

.brandOrange{
  color: $BrandOrange
}
.brandOrange-bg{
  background-color: $BrandOrange
}

.brandGrey{
  color: $BrandGrey
}
.brandGrey-bg{
  background-color: $BrandGrey
}

$defaultPadding: 10px 20px;
.defaultPadding{
  padding: $defaultPadding;
}

// fonts
h1, h2, h3, h4, h5, h6, p, a, ul, li, span{
  font-family: 'Montserrat', sans-serif;
  color: $BrandGrey;
}

h1{
  color: $BrandGrey;
}

h2{
  color: $BrandGrey;
}

a, span{
  color: $BrandGrey;
}

body {
  background-color: $BrandOrange;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
