@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

// colors
$BrandBlack: #000000;
$BrandWhite: #FFFFFF;

.brandBlack{
  color: $BrandBlack
}
.brandWhite-bg{
  background-color: $BrandBlack
}

.brandWhite{
  color: $BrandWhite
}
.brandWhite-bg{
  background-color: $BrandWhite
}

$defaultPadding: 10px 20px;
.defaultPadding{
  padding: $defaultPadding;
}

// fonts
h3, h4, h5, h6, p, a, ul, li, span{
  font-family: 'Montserrat', sans-serif;
  color: $BrandBlack;
}

h1{
  color: $BrandBlack;
  font-family: 'Montserrat', cursive;
  font-weight: 700;
}

h2{
  color: $BrandBlack;
  font-family: 'Montserrat', cursive;
}

a, span{
  color: $BrandBlack;
}

body {
  background-color: $BrandWhite;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
